@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-header: var(--header);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-table: var(--table);
  --color-table-foreground: var(--table-foreground);
  --color-table-header: var(--table-header);
  --color-table-header-foreground: var(--table-header-foreground);
  --color-table-row-hover: var(--table-row-hover);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.9813 0.0053 197.07);
  --foreground: oklch(0.1957 0 0);
  --card: oklch(98% 0.00011 271.152);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(53.139% 0.18997 280.926);
  --chart-2: oklch(78.919% 0.15586 158.949);
  --chart-3: oklch(61.054% 0.17906 306.472);
  --chart-4: oklch(81.46% 0.13573 165.971);
  --chart-5: oklch(84.664% 0.17743 125.17);
  --header: oklch(96% 0.00011 271.152 / 0.85);
  --sidebar: oklch(96% 0.00011 271.152 / 0.85);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.9367 0.0211 178.35);
  --sidebar-accent-foreground: oklch(0.4381 0.0507 191.76);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --table: oklch(99.171% 0.00438 135.87);
  --table-foreground: oklch(15.032% 0.00922 128.607);
  --table-header: oklch(94.214% 0.0085 129.004);
  --table-header-foreground: oklch(15.032% 0.00922 128.607);
  --table-row-hover: oklch(98% 0.01058 136.983);
}

.dark {
  --background: oklch(0% 0 0);
  --foreground: oklch(0.9612 0 0);
  --card: oklch(23% 0.00002 271.152);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(36.432% 0.16756 277.002);
  --chart-2: oklch(49.65% 0.10669 157.88);
  --chart-3: oklch(55.669% 0.12362 57.718);
  --chart-4: oklch(42.447% 0.2025 304.755);
  --chart-5: oklch(42.938% 0.14829 17.477);
  --header: oklch(17.5% 0.0025 145.902 / 0.6);
  --sidebar: oklch(17.5% 0.0025 145.902 / 0.6);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.2476 0.0192 160.74);
  --sidebar-accent-foreground: oklch(0.7983 0.0698 191.22);
  --sidebar-border: oklch(0.2756 0.0139 196.37);
  --sidebar-ring: oklch(0.556 0 0);

  --table: oklch(18.139% 0.00398 106.877);
  --table-foreground: oklch(95.195% 0.00814 122.022);
  --table-header: oklch(27.063% 0.01228 135.16);
  --table-header-foreground: oklch(98.118% 0.00841 129.022);
  --table-row-hover: oklch(21.918% 0.00488 145.644);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}